{% extends "base.html" %}

{% block content %}
<!-- insert the page content here -->
            <h1>Добро пожаловать на труба-теплотрасса-форум фреймворк.</h1>
            <p>Картинки ни каким образом грузиться не хотят, как фоны для div'ов хотя выложены там же, где и шаблон.
                (А вот ссылка на трубосайт на php <a href="https://ecofleks.ru"> Трубосайт от Бога, только бы не
                    ослепнуть</a>).</p>
            <div>
		        <a href="/create-category/">Создать новую категорию</a>
	        </div>
            {% for item in objects_list %}
                <li>
                    {{item.name}} <span>Количество товаров: {{item.items_count()}}</span>
                    <a href="/goods/?id={{item.id}}">Показать товары этой категории</a>
                </li>
            {% endfor %}
<!--            <div>-->
<!--                <li><a href="/goods/">Список товаров</a></li>-->
<!--                <li><a href="/create-good/">Создать товар</a></li>-->
<!--	        </div>-->


            <h2>Browser Compatibility</h2>
            <p>This template has been tested in the following browsers:</p>
            <ul>
                <li>Internet Explorer 8</li>
                <li>Internet Explorer 7</li>
                <li>FireFox 3.5</li>
                <li>Google Chrome 6</li>
            </ul>
{% endblock content %}