{% extends "base.html" %}

{% block content %}
<!-- insert the page content here -->
    <h1>Пользователи</h1>

    <div>
		<li>
			<a href="/create-user/">Создать студента</a>
		</li>
		<li>
			<a href="/add-user/">Добавить пользователя к обсуждению товара</a>
		</li>
	</div>
    <h1>Список пользователей</h1>
    <div>

        {% for item in objects_list %}
        <li>
            {{item.name}}
            {% for good in item.goods %}
                {{good.name}}
            {% endfor %}
        </li>
        {% endfor %}
    </div>

{% endblock content %}